[
  {
    "company": "Com 1",
    "keySize": 1024,
    "C": "VN",
    "S": "Hanoi",
    "L": "Quang Trung Ha Dong",
    "O": "CIC",
    "OU": "IT",
    "CN": "Com 1",
    "outFileName": "com1",
    "p12Pass": "123456"
  },
  {
    "company": "Com 2",
    "keySize": 1024,
    "C": "VN",
    "S": "Hanoi",
    "L": "Pham Hung Nam Tu Liem",
    "O": "SDS",
    "OU": "IT",
    "CN": "Com 2",
    "outFileName": "com2",
    "p12Pass": "123456"
  }
]